  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Horaires</h2>
              
                <div class="row">
                    <table>
                        <tr>
                          <td>Lun - Sam</td>
                          <td>8h00 - 19h00</td>
                        </tr>
                        <tr>
                          <td>Dimanche</td>
                          <td>Fermé</td>
                        </tr>
                      </table>
                </div>
          </div>
      </div>
  </aside>
