<aside class="bg-dark py-4">
    <div class="container text-center text-white">
      <div class="call-to-action">
        <h2 class="mb-4">Horaires</h2>
        <div class="mx-auto text-start" style="max-width: 400px;">
          <div class="row">
            <div class="col-6">Lun - Sam</div>
            <div class="col-6 text-end">8h00 - 19h00</div>
          </div>
          <div class="row">
            <div class="col-6">Dimanche</div>
            <div class="col-6 text-end">Fermé</div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  