<aside class="bg-dark">
    <div class="container text-white">
      <div class="call-to-action text-center">
        <h2>Horaires</h2>
        <div class="mx-auto">
          <div class="row gx-0">
            <div class="col-6 text-start">Lun - Sam</div>
            <div class="col-6 text-end">8h00 - 19h00</div>
          </div>
          <div class="row gx-0">
            <div class="col-6 text-start">Dimanche</div>
            <div class="col-6 text-end">Fermé</div>
          </div>
        </div>
      </div>
    </div>
  </aside>