<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">En panne ? Nous sommes la !</h2>
                <hr class="light">
                <p class="text-faded">Notre garage vous propose l'entretien et la réparation de véhicules toutes marques. Nous assurons également le dépannage de véhicules à votre domicile.</p>
                <a href="#" class="btn btn-default btn-xl">Nous contacter</a>
            </div>
        </div>
    </div>
</section>
